# Public key from Chec's demo merchant account. This client key will enable you to deploy a live preview with
# Netlify's one-click deploy. Replace this key with your own account's public key afterwards.
NEXT_PUBLIC_CHEC_PUBLIC_KEY=pk_test_34409fdf2ce83e866ddfc242ef23289f6b3b255f60beb   
# Set the environment for your application, e.g. "development"
NODE_ENV=
# If you're using Stripe, add your publishable key here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
# Secret key is used with chec/seeder to access your Chec account to seed it with sample data
CHEC_SECRET_KEY=sk_test_344092afd3b270ac9be2057c6fa9873ff206ff2f8bc26
CHEC_API_URL=https://api.chec.io
